<a href="/minhas-enquetes/cadastro" class="btn btn-primary"> Criar nova enquete</a>
<br>
<br>
<div class="panel panel-default">
    <div class="panel-body">
        <strong>Quero casar, ajudem-me</strong>
        <br>
        <small>
            11 minutos atrás &nbsp;&nbsp; 2 perguntas &nbsp;&nbsp; 77 pessoas ajudaram
        </small>
        <br>
        <br>
        <a href="/enquete/1/resultado" class="btn btn-success"> Visualizer resultado</a>
        <a href="/enquete/1" class="btn btn-default"> Editar</a>
        <button class="btn btn-danger"> Excluir</button>
    </div>
</div>